*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.banner{
    /* position: absolute; */
    max-width: fit-content;
    height: 808px;
    display: flex;
    align-items: center;
}

.banner-title{
    color: #FFFFFF;
    font-weight: 700px;
    font-size: 35px;
    line-height: 80px;
    text-align: right;
    position: absolute;
    padding-left: 850px;
    padding-right: 130px;
}

.banner-sub-title{
    width: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    margin-top: 24px;
}

.btn-primary{
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    padding: 15px 30px;
    border-color: #FFFFFF;
    border-radius: 5px;
}

.btn-secondary{
    display: block;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    border-radius: 5px;
    background: #FFFFFF;
    padding: 15px 30px;
    border-color: #FFFFFF;
    margin-top: 24px;
}

.btn-primary-1{
    display: block;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    background: #005FAC;
    padding: 15px 30px;
    border-color: #005FAC;
    margin-top: 15px;
    align-items: center;
}
/* Failures About Section */

.about{
    display: flex;
    align-items: center;
    /* margin-left: 200px; */
    padding-left: 200px;
    margin-top: 130px;
    background: #FFFFFF;
}

/* .about-container{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 131px;
    padding: 100%;
} */

.about-title{
    color: #151414;
    font-size: 50px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 24px;
    padding-left: 80px;
}

.about-description{
    color: #151414;
    text-align: left;
    margin-right: 320px;
    padding-left: 80px;
    padding-bottom: 16px;
    line-height: 26px;
    position: relative;
}

.description{
    color: #444343;
    padding-left: 80px;
    text-decoration: solid;
    
    
}

/* Tick Mark */
.tickmark{
    color: #16D887;
    font-size: 25px;
    margin-right: 10px;
}


.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}

.my-plan{
    background-position: center;
    margin-top: 130px;
}

.myplan-container{
    max-width: 1140px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 229px; 
}

.plan img{
    margin-bottom: 24px;
}

.plan-title{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 16px;
}

.plan-description{
    color: #737272;
    font-size: 20   px;
}

/* Contact Section */

.contact{
    margin: 0;
    position: absolute;
    width: 1140px;
    height: 300px;
    margin-bottom: 130px;
}

.contact-title{
    position: absolute;
    width: 459px;
    height: 182px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    padding-top: 60px;
    padding-left: 64px;

    
}
.contact-container{
    margin-right: 200px;
    padding-left: 200px;
    padding-top: 2px;

}

.gradient{
    position: relative;
    padding-top: 130px;   
}

.watch{
    margin-top: 130px;
    position: absolute;
/* 
    top: 132px;
    left: 200px;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%); */
}




/* footer section */

.footer{
    display: flex;
    background-color: #151414;
    padding: 130px;
    /* position: absolute; */
    margin-top: 550px;
    width: 1340px;
 
}


.footer-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
}

.footer-description{
    font-weight: 300;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 26px;
    padding-right: 500px;
    padding-top: 20px;
}


/* .fp1 ul{
    display: flex;
    background-color: 0px;
    gap: 17px;
} */

/* .fp1 li{
    position: absolute;
    text-decoration: none;
    display: flex;

    gap: 30px;
} */
/* 
.icon{
    display: inline;
    gap: 155px;
} */

.fp1 img{
    padding-right: 17px;
    padding-top: 32px;
}

.fp2{
    color: #FFFFFF;
    padding-bottom: 25px;
    padding-right: 80px;
    
}

.fp-title{
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 30px;
}

.fp2 input{
    box-sizing: border-box;
    padding: 21px 22px;
    width: 325px;
    border: 1px solid #ffffff;
    background-color: #151414;
    border-radius: 8px;
}